:root {
  /* Primary */

  /* (Full Slider Bar) */
  --soft-cyan: hsl(174, 77%, 80%);
  /* (Slider Backround) */
  --strong-cyan: hsl(174, 86%, 45%);
  /* (Discount Background) */
  --light-grayish-red: hsl(14, 92%, 95%);
  /* (Discount Text) */
  --light-red: hsl(15, 100%, 70%);
  /* (CTA Text) */
  --pale-blue: hsl(226, 100%, 87%);

  /* Neutral */

  /* (Pricing Component Background) */
  --white: hsl (0, 0%, 100%);
  /* (Main Background) */
  --very-pale-blue: hsl(230, 100%, 99%);
  /* (Empty Slider Bar) */
  --light-grayish-blue-1: hsl(224, 65%, 95%);
  /* (Toggle Background) */
  --light-grayish-blue-2: hsl(223, 50%, 87%);
  /* (Text) */
  --grayish-blue: hsl(225, 20%, 60%);
  /* (Text & CTA Background) */
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: var(--grayish-blue);
}

body {
  background-color: var(--very-pale-blue);
  /* background-color: pink; */
  background-image: url('/images/bg-pattern.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: 0 0vh; */
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.content {
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 200px;
  background-image: url('/images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-title {
  color: var(--dark-desaturated-blue);
}

.header-subtitle {
  font-weight: 600;
  font-size: 16px;
}

.card {
  background-color: white;
  width: 540px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px var(--light-grayish-blue-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

.card-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top-pageviews {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.card-top-pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.card-top-pricing-mobile {
  display: none;
}

.card-top-pricing-price {
  font-size: 40px;
  color: var(--dark-desaturated-blue);
  font-weight: 800;
}

/* input[type=range] {
  -webkit-appearance: none; 
} */

.card-slider-container {
  position: relative;
  width: 100%;
}

.card-slider {
  width: 100%;
}

input[type='range'] {
  /* overflow: hidden; */
  /* width: 80px; */
  -webkit-appearance: none;
  /* background-color: #9a905d; */
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  /* cursor: pointer; */
  /* background: #205928; */
  /* background: var(--light-grayish-blue); */
  border-radius: 10px;
  /* transition: all 0.5 ease-in-out; */
}

input[type=range]::-webkit-slider-thumb {
  /* box-shadow: 3px 3px 3px #00AA00; */
  /* border: 2px solid #83E584; */
  height: 40px;
  width: 40px;
  border-radius: 23px;
  background: url('../public/images/icon-slider.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--strong-cyan);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
  box-shadow: 0 15px 20px var(--soft-cyan);
}

.card-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.card-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.card-toggle-monthly, .card-toggle-yearly {
  font-size: 13px;
}

.card-toggle-yearly {
  position: relative;
}

.card-toggle-yearly-discount, .card-toggle-yearly-discount-mobile {
  position: absolute;
  top: 2px;
  left: calc(100% + 10px);
  font-size: 11px;
  text-align: center;
  width: 80px;
  border-radius: 1000px;
  background-color: var(--light-grayish-red);
  color: var(--light-red);
}

.card-toggle-yearly-discount-mobile {
  display: none;
  width: 40px;
  left: calc(100% + 5px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  border-radius: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grayish-blue-2);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.toggle-slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: var(--strong-cyan);
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-slider::before {
  /* -webkit-transform: translateX(26px); */
  /* -ms-transform: translateX(26px); */
  transform: translateX(24px);
}

.card-divider {
  background-color: var(--light-grayish-blue-1);
  height: 2px;  
  width: 540px;
}

.card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-footer-list {
  padding-left: 10px;
}

.card-footer-list-item {
  line-height: 30px;
  padding-left: 15px;
}

.card-footer-list-item::marker {
  content: url('../public/images/icon-check.svg');
}

.card-footer-btn {
  font-weight: 800;
  color: var(--pale-blue);
  background-color: var(--dark-desaturated-blue);
  border: none;
  border-radius: 1000px;
  width: 190px;
  height: 40px;
  cursor: pointer;
}

.card-footer-btn:hover {
  color: white;
}

@media (max-width: 650px) {

  body {
    background-image: none;
  }

  .header-title, .header-subtitle {
    text-align: center;
    width: 90vw;
  }

  .card {
    width: 90vw;
    margin: 0 auto;
  }

  .card-toggle-yearly-discount {
    display: none;
  }

  .card-toggle-yearly-discount-mobile {
    display: block;
  }

  .card-top {
    justify-content: center;
  }

  .card-top-pricing {
    display: none;
  }

  .card-top-pricing-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .card-divider {
    display: block;
    width: 90vw;
    margin-left: 0;
  }

  .card-footer {
    flex-direction: column;
    gap: 30px;
  }
  
  .card-footer-list {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
}